/**
 * Place your custom styles here.
 */
body {
    color: #333333;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.2;
}
.container-fluid {
    font-family: "Roboto Condensed";
    text-align: center;
    padding: 0 10%;
}
.container-fixed {
    font-family: "Roboto Condensed";
    text-align: center;
    width: 960px;
    margin: 0 auto;
}
H1, H2, H3, H4 {
    text-align: left;
    font-family: 'BebasNeueBold';
}
a {
     color: #232323;
}
a:hover {
    text-decoration: none;
    color:  #e74c3c;
}
body {
    color: #333333;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.2;
}
.main-menu {
   padding: 10px;
}
.row {
    margin: 0;
}
.region-top-links H4, .region-top-links H3 {
    float: left;
    padding: 0 5px;
    line-height: 20px;
}
.container-fluid {
    font-family: "Roboto Condensed";
    text-align: center;
}
.region-top-links H4 {
    line-height: 12px;
    margin-bottom: 0;
    margin-top: 5px;
}
.top-links {
    background-color: #000;
    text-align: right;
}
#navbar .block {
    display: inline-block;
    vertical-align: middle;
}
.region-top-links {
    color: #fff;
    font-family: "BebasNeueBold";
    font-size: 22px;
    padding: 5px 20px;
    text-align: left;
}
.region-top-links H3 {
    margin: 0;
}
.navbar-brand {
    float: none;
    font-family: "BebasNeueBold";
    font-size: 3em !important;
    font-weight: 500;
    line-height: 50px;
}

.logo {
    padding-top: 10px;
}
#navbar {
    border-bottom: 2px solid #e74c3c;
    margin: 0;
}

.region-top-header-buttons {
    padding-top: 20px;
}
.footer h2 {
    color: #000;
    font-family: "BebasNeueBold";
    font-size: 20px;
    font-weight: bold;
}
.footer .block {
    text-align: left;
    color: #666666;
}
.footer .nav > li > a {
    padding: 0;
}
.footer .nav > li > a:hover {
    background: none;
}

.navbar {
    border: 1px solid transparent;
    margin-bottom: 0;
    min-height: 50px;
    position: relative;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.dropdown-submenu.level-1>UL {
    position: absolute;
    top: 50px;
    left: 0;
    min-width: 300px;
    border-top: 2px solid #e74c3c;
}
.dropdown-submenu.level-1 > a {
    font-family: "BebasNeueBold";
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.dropdown-submenu.level-2 > a {
    font-family: "BebasNeueBold";
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.catalog-items {
  padding: 50px 0;
}
.catalog-items .product-item {
    text-align: center;
    background-color: white;
    position: relative;
}
.catalog-items .product-item:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 99;
}
.catalog-items .product-item h4 {
  text-align: center;
  font-size: 13px;
}
.catalog-items .product-item H3 {
  text-align: center;

}
.catalog-items .product-item .product-price {

}
.catalog-items .product-item .product-title {
  height: 30px;
}
.catalog-items .product-item .image {
  height: 120px;
}

.admin-content {
  padding: 30px 10px;
  text-align: left;
}
.product-cart {
  padding: 20px 0;
  text-align: left;
}
.product-cart .title H2 {
    color: #7f7f7f;
    display: block;
    font-size: 22px;
    font-weight: normal;
    line-height: 28px;
    padding: 0 100px 20px 0;
    text-transform: uppercase;
}
.product-cart .price {
  font-family: "BebasNeueBold";
  font-size: 28px;
}
.product-cart .info {
  padding-top: 30px;
}
.product-cart .info .panel-title {
  font-size: 22px;
  color: #000;
}
.product-cart .info .panel-collapse{
  line-height: 1.5;
  font-family: "Roboto Condensed";
}
.product-cart .info .panel-collapse p {
  margin-top: 10px;
}
