/**
 * Place your custom styles here.
 */
body {
    color: #333333;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.2;
}
.title-container {
  float: left;
  z-index: 99999;
  position: relative;
}
.search-button {
  text-align: center;
  cursor: pointer;
  margin-top: 9px;
  float: left;
  font-family: "BebasNeueBold";
  font-size: 11px;
  margin-left: 30px;
}
#search-form-contanier {
  height: 60px;
  display: none;
}
#search-form {
  background-color: #fff;
  padding: 15px;
  height: 60px;
  border-bottom: 1px solid #e74c3c;
  width: 360px;
  float: right;
}
#search-form .form p {
  float: left;
}
#search-form .btn-add {
  font-family: "BebasNeueBold";
  color: #fff;
}
#search-form .form-control {
  font-size: 11px;
  width: 260px;
}
.navbar-toggle .icon-bar {
    background-color: black;
    border-radius: 1px;
    color: black;
    display: block;
    height: 2px;
    width: 22px;
}
.container-fluid {
    font-family: "Roboto Condensed";
    text-align: center;
    padding: 0 10%;
}
.container-fixed {
    font-family: "Roboto Condensed";
    text-align: center;
    width: 960px;
    margin: 0 auto;
}
H1, H2, H3, H4 {
    text-align: left;
    font-family: 'BebasNeueBold';
}
a {
     color: #232323;
}
a:hover {
    text-decoration: none;
    color:  #e74c3c;
}
.btn {
  border-radius: 0px;
}
.btn-lg {
  background-color: #232323;
  border: none;
}
.btn-lg:hover,
.btn-lg:focus {
  background-color: #ccc;
}
.main-menu {
   padding: 10px;
}
.row {
    margin: 0;
}

.region-top-links {
  width: 300px;
  float: right;
  text-align: right;
}
.region-top-links H4, .region-top-links H3 {
    float: left;
    padding: 0 5px;
    line-height: 20px;
}
.container-fluid {
    font-family: "Roboto Condensed";
    text-align: center;
}
.region-top-links H4 {
    line-height: 12px;
    margin-bottom: 0;
    margin-top: 5px;
}
.top-links {
    background-color: #000;
    text-align: right;
}
#navbar .block {
    display: inline-block;
    vertical-align: middle;
}
.region-top-links {
    color: #fff;
    font-family: "BebasNeueBold";
    font-size: 22px;
    padding: 5px 20px;
    text-align: right;
}
.region-top-links H3 {
    margin: 0;
}
.navbar-brand {
    float: none;
    font-family: "BebasNeueBold";
    font-size: 3em;
    font-weight: 500;
    line-height: 50px;
}

.logo {
    padding-top: 10px;
}
#navbar {
    border-bottom: 2px solid #e74c3c;
    margin: 0;
}

.region-top-header-buttons {
    padding-top: 20px;
}
.footer h2 {
    color: #000;
    font-family: "BebasNeueBold";
    font-size: 20px;
    font-weight: bold;
}
.footer .block {
    text-align: left;
    color: #666666;
}
.footer .nav > li > a {
    padding: 0;
}
.footer .nav > li > a:hover {
    background: none;
}


.catalog-items {
  padding: 50px 0;
}
.catalog-items .product-item {
    text-align: center;
    background-color: white;
    position: relative;
}
.catalog-items .product-item:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 99;
}
.catalog-items .product-item h4 {
  text-align: center;
  font-size: 13px;
}
.catalog-items .product-item H3 {
  text-align: center;

}
.catalog-items .product-item .product-price {

}
.catalog-items .product-item .product-title {
  height: 30px;
}
.catalog-items .product-item .image {
  height: 120px;
}

.admin-content {
  padding: 30px 10px;
  text-align: left;
}
.product-cart {
  padding: 20px 0;
  text-align: left;
}
.product-cart .title H2 {
    color: #7f7f7f;
    display: block;
    font-size: 22px;
    font-weight: normal;
    line-height: 28px;
    padding: 0 100px 20px 0;
    text-transform: uppercase;
}
.product-cart .price {
  font-family: "BebasNeueBold";
  font-size: 50px;
}
.product-cart .article {
  margin-top: -20px;
  margin-bottom: 30px;
}
.product-cart .info {
  padding-top: 30px;
}
.product-cart .info .panel-title {
  font-size: 22px;
  color: #000;
}
.product-cart .info .panel-collapse{
  line-height: 1.5;
  font-family: "Roboto Condensed";
}
.product-cart .info .panel-collapse p {
  margin-top: 10px;
}
#orderClickModal .modal-dialog {
  width: 300px;
  text-align: center;
}
#orderClickModal .modal-dialog TEXTAREA {
  height: 100px;
}
#orderClickModal .modal-dialog .btn {
  width: 100%;
}


.spinner {
  width: 50px;
  margin-right: 10px;
  float: left;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
  font-family: "BebasNeueBold";
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
.buttons-form {
  margin-top: 50px;
}
.btn-add {
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
}
.btn-lg {
  font-size: 11px;
}
.product-items {
  border-bottom: 1px solid #ccc;
}
.product-items .text-item {
  line-height: 80px;
  text-align: center;
}

.product-items div {
  padding: 10px 0;
  text-align: left;
  font-family: "BebasNeueBold";
}
.vertical-align {
    display: flex;
    align-items: center;
}
.cart-wrapper {
  padding: 50px 0;
}
.cart-wrapper .title {
  color: #e74c3c;
}
.cart-wrapper .cart-price-total {
  color: #e74c3c;
}
.cart-wrapper .row-price-total {
  border-bottom: 1px solid #ccc;
}
.client-adress INPUT,
.client-adress TEXTAREA {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    border-radius: 0px;
    height: 40px;
}
.client-adress TEXTAREA {
  height: 150px;
}
.client-adress LABEL {
  color: #7f7f7f;
  font-size: 10px;
  text-align: left;
}
.client-adress p {
  text-align: left;
}
.client-adress .btn-add {
  width: 100%;
  color: #fff;
  height: 40px;
}
#cart-icon {
  text-align: center;
  font-family: "BebasNeueBold";
  font-size: 11px;
  margin-top: 10px;
  position: relative;
  float: left;
}
#cart-icon .cart-count {
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  padding-top: 2px;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -5px;
  top: -7px;
}
.form-errors {
  color: #e74c3c;
  font-size: 10px;
}
.buttons-form {
  padding: 20px;
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}
.product-cart .carousel-indicators li {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 100px;
    margin: 1px;
    text-indent: 0px;
    width: 100px;
}
.product-cart .carousel-indicators {
    bottom: 10px;
    left: 50%;
    list-style: outside none none;
    margin-left: -30%;
    padding-left: 0;
    position: relative;
    text-align: center;
    width: 60%;
    z-index: 15;
}
.product-cart .carousel-indicators li {
    cursor: pointer;
    text-indent: 1px;
}
.product-cart .carousel-control {
    color: #000;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.product-cart .carousel-control.left {
    background-image: none;
    background-repeat: repeat-x;
}
.product-cart .carousel-control.right {
    background-image: none;
    background-repeat: repeat-x;
}

.confirm-message {
  padding: 30px 0;
  width: 50%;
  margin: 0 auto;
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}
.confirm-message h4 {
  text-align: center;
}

.catalog-items .out-message {
  display: none;
  position: absolute;
  z-index: 999;
  bottom: 0;
}
.catalog-items .out-stock {
  opacity: 0.7;
}
.catalog-items .out-stock:hover {
  opacity: 1;
}
.catalog-items .out-stock:hover .out-message {
  display: block;
}
.catalog-page .child-block {
  text-align: left;
}
.catalog-page .child-block a {
  font-family: "Roboto Condensed";
  font-size: 16px;
  }
.catalog-page .child-block .nav-tabs li {
    border: none;
}


.admin-products .panel-body {
  border-bottom: 4px solid #f7f7f7;
  background-color: #f7f7f7;
}
.admin-products table {
  padding-bottom: 0;
  margin-bottom: 0;
}
.admin-products a[aria-expanded="true"] table {
  background-color: #f7f7f7;
}

.admin-products .panel-heading {
  padding: 0;
}
.admin-products-img .image {
  height: 130px;
  position: relative;
  margin: 10px;
  border: 1px solid #ccc;
}
.admin-products-img .image .btn {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 10px;
  border-radius: 50%;
  padding: 2px 6px;
}

.content {
  padding: 50px 0;
}
.static-page .body {
  text-align: left;
  line-height: 1.4;
  margin-bottom: 200px;
}

    .lightbox{

      z-index: 1041;

    }

    .small-img{

      width: 170px;
      padding: 10px;

    }

.admin-edit-product .category {
  text-align: left;
  padding: 5px;
  margin: 20px 0px;
  border: 1px solid #c3c3c3;
}
.admin-edit-product .image {
  height: 130px;
  position: relative;
  margin: 10px;
  border: 1px solid #ccc;
}
.admin-edit-product  .image .btn {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 10px;
  border-radius: 50%;
  padding: 2px 6px;
}

.admin-new-product .category {
  text-align: left;
  padding: 5px;
  margin: 20px 0px;
  border: 1px solid #c3c3c3;
}
.admin-import {
  padding: 40px;
  text-align: left; 
  border: 1px solid #ccc;
}
.admin-links {
  font-size: 10px;
  background-color: #ccc;
}

.navbar {
  margin-bottom: 1px;
}

#search-form-container {
  position: relative;
}
.seotext {
  text-align: justify;
  font-size: 14px;
  line-height: 1.6;
  border-top: 2px solid #e74c3c;
  padding-top: 30px;
}


/* ADMIN PAGES*/
.admin-page.categories-edit .content-container {
  text-align: left;
  line-height: 1.6;
}


@media (min-width: 960px) {
  .navbar {
      border: 1px solid transparent;
      margin-bottom: 0;
      min-height: 50px;
      position: relative;
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 95%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
  }

  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }

  .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
  }

  .dropdown-submenu.pull-left {
    float: none;
  }

  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }
  .dropdown-submenu.level-1>UL {
      position: absolute;
      top: 50px;
      left: 0;
      min-width: 170px;
      border-top: 2px solid #e74c3c;
  }
  .dropdown-submenu.level-1 > a {
      font-family: "BebasNeueBold";
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      transition: all 0.3s ease 0s;
  }
  .dropdown-submenu.level-2 > a {
      font-family: "BebasNeueBold";
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      transition: all 0.3s ease 0s;
  }
   .dropdown-submenu li a {
      font-family: "BebasNeueBold";
      font-size: 14px;
   }
}



@media (max-width: 760px) {

    .title-container {
      float: left;
      z-index: 99999;
      position: relative;
    }
    .title-container a {
      z-index: 99999;
    }


      
    .cart-content .item {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .cart-content .text-item {
      line-height: 15px;
    }

    .image-item img {
      width: 0px;
    }
    .buttons-form .cart-form {
      padding-bottom: 10px;
    }
    .product-cart .price {
      text-align: center;
    }
    .product-cart .article {
      text-align: center;
    }

    body{font-size: 10px;}
    h3{font-size: 13px;}
    h4{font-size: 11px;}
    .navbar-brand {font-size: 2em;}

     .dropdown-submenu.level-1 > a {
        font-family: "BebasNeueBold";
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
    }
    .dropdown-submenu.level-2 > a {
        font-family: "BebasNeueBold";
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
    }
    .container-fluid {
      font-family: "Roboto Condensed";
      padding: 0 3%;
      text-align: center;
    }
    .small-img {
      padding: 10px;
      width: 170px;
    }
    .product-cart .carousel-indicators {
      left: 0;
      margin-left: 0;
      padding-left: 0;
      margin-top: 20px;
      position: relative;
      text-align: center;
      width: 100%;
      z-index: 15;
    }
    .carousel-indicators li {
      display: inline-block;
    }
    .product-cart .title H2 {
        color: #000;
        display: block;
        font-size: 17px;
        font-weight: normal;
        line-height: 28px;
        padding: 0 0 20px 0;
        text-transform: uppercase;
        text-align: center;
    }
}